* {
    margin: 0;
    padding: 0;
}
*,
:after,
:before {
    box-sizing: inherit;
    outline: none!important;
}

html {
    background-color: #d3d3d3;
    height: 100%;
    box-sizing: border-box;
    width: 100%
}

body {
    min-height: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
    margin: 0;
    -webkit-overflow-scrolling: touch
}

body,button,input,p,select,textarea {
    font-family: Lato,Helvetica Neue,Helvetica,Liberation Sans,Arial,sans-serif;
    font-size: 16px;
    line-height: 23px
}

p {
    margin: 20px 0;
    color: #7a818e
}

a, a:hover {
    transition: all 75ms ease-in-out;
}

strong {
    font-weight: 700
}

main {
    overflow: hidden;
    width: 100%;
}

.container {
    clear: both;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    border: 0;
    padding: 11px 60px;
    cursor: pointer;
    font-size: 22.9px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #fff;
}